@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* body {
        @apply ;
    } */
    h1 {
        @apply font-playfair text-h1;
    }
    h2 {
        @apply font-roboto text-h2 font-semibold;
    }
    h3 {
        @apply font-roboto text-h3 font-semibold;
    }
    h4 {
        @apply font-roboto text-h4 font-semibold;
    }
    h5 {
        @apply font-roboto text-h5 font-semibold;
    }
    h6 {
        @apply font-roboto text-h6 font-semibold;
    }
    #p_focus {
        @apply font-roboto text-p-focus;
    }
    p {
        @apply font-roboto text-p;
    }
}

/* @layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: auto;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #DBD2C4;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #3A3A3A;
      border-radius: 100vh;
      border: 1px solid #DBD2C4;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #4d4d4d;
    }
  } */