@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* body {
        @apply ;
    } */
    h1 {
        @apply font-playfair text-h2 lg:text-h1 text-color5;
    }
    h2 {
        @apply font-roboto text-h4 lg:text-h2 font-semibold text-color5;
    }
    h3 {
        @apply font-roboto tracking-wide text-h5 lg:text-h3 font-semibold text-color5;
    }
    h4 {
        @apply font-roboto tracking-wide text-h4 font-semibold text-color5;
    }
    h5 {
        @apply font-roboto tracking-wide text-h5 font-semibold text-color5;
    }
    h6 {
        @apply font-roboto tracking-wide text-h6 font-semibold text-color5;
    }
    #button {
        @apply font-roboto rounded-xl px-8 py-3 bg-color6 uppercase transition duration-300 delay-75 text-color1 text-base lg:text-lg font-semibold tracking-wider hover:bg-color6Hover;
    }
    #p_focus {
        @apply font-roboto text-p-focus text-color5;
    }
    p {
        @apply font-roboto text-p text-color5 leading-8;
    }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 15px;
      height: auto;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #EFE4D4;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #342213;
      border-radius: 100vh;
      border: 1px solid #EFE4D4;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #452D19;
    }

    .swiper-pagination {
        bottom: 0;
        position: relative;
    }

    .swiper-pagination-bullet {
        background-color: #6E5039;
    }

    .swiper-container {
        overflow: hidden;
      }

    /* Valgt knap, produktside */
    .content:not(:first-child) {
        display: none;
    }

    .active {
        background-color: #856145 !important;
        border: 2px solid #6E5039;
    }

    /* Valgt knap, maskiner */
    .contentMachines:not(:first-child) {
        display: none;
    }

    .activeMachines {
        border: 2px solid #6E5039;
        border-radius: 100px;
        
    }
  }